@use '../abstracts/functions' as func;
@use '../abstracts/mixins' as mixn;

.best-sellers {
    &__article {
        @include mixn.flex(row, normal, space-between, nowrap);
        @include mixn.size(auto, auto);
        box-sizing: border-box;
        box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.2);
        margin: 1.7rem 1.55rem;
        background-color: func.color('white');
        border-radius: func.px_to_rem(10px);
        gap: func.px_to_rem(10px);
        padding: 1.25rem 0.8rem;
        max-width: func.px_to_rem(380px);

        @include mixn.respond-to('tablet') {
            @include mixn.size(func.px_to_rem(580px), func.px_to_rem(266px));
            max-width: none;
            margin-top: 3.48rem;
            padding: 0.8rem;
            gap: 0;
        }

        @include mixn.respond-to('desktop') {
            @include mixn.size(func.px_to_rem(592px), func.px_to_rem(280px));
            margin-top: 0rem;
            padding: 1rem 1.27rem 0.2rem 1.27rem;
        }
    }

    &__article-text {
        @include mixn.flex(column, normal, normal, nowrap);
        flex: 1;
        gap: 0.38rem;

        @include mixn.respond-to('tablet') {
            padding: 0rem 0.1rem;
            gap: 0.4rem;
        }

        @include mixn.respond-to('desktop') {
            gap: func.px_to_rem(5px);
        }
    }

    &__article-content {
        @include mixn.flex(column, normal, normal, nowrap);

        margin: func.px_to_rem(5px) func.px_to_rem(5px) 0 0;
        gap: 2.2rem;

        @include mixn.respond-to('tablet') {
            margin: 0;
            gap: 0.4rem;
            margin-right: 0.1rem;
        }

        @include mixn.respond-to('desktop') {
            margin: 0;
            gap: 1.8rem;
        }
    }

    &__icons {
        @include mixn.flex(row, normal, normal, nowrap);
        @include mixn.size(100%, auto);
        gap: func.px_to_rem(27px);
        padding: func.px_to_rem(10px);
        margin-top: 1.5rem;

        @include mixn.respond-to('tablet') {
            margin-top: 3rem;
            padding: 0;
        }

        @include mixn.respond-to('desktop') {
            margin-top: 2.4rem;
        }
    }

    &__article-img {
        @include mixn.size(100%, func.px_to_rem(168px));

        @include mixn.respond-to('tablet') {
            @include mixn.size(func.px_to_rem(161px), func.px_to_rem(166px));
            margin: 0.2rem 0.2rem 0 0;
        }
    }

    &__button {
        background-color: func.color('yellow');
        @include mixn.size(100%, func.px_to_rem(48px));
        color: func.color('white');

        @include mixn.respond-to('tablet') {
            width: 100%;
        }
    }
}
