@use '../abstracts/functions' as func;
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixn;

.latest-releases,
.best-sellers {
    margin-top: func.px_to_rem(8px);
    @include mixn.respond-to('tablet') {
        @include mixn.flex(column, center, baseline, nowrap);
        margin: func.px_to_rem(28px) 0 func.px_to_rem(40px) 0;
    }
    @include mixn.respond-to('desktop') {
        margin: func.px_to_rem(30px) 0 func.px_to_rem(57px) 0;
    }

    &__heading {
        @include mixn.size(100%, auto);
        background-color: func.color('white');
        color: func.color('yellow');
        font-size: func.size('sm');
        text-align: center;
        padding: func.px_to_rem(10px);

        @include mixn.respond-to('tablet') {
            font-size: func.size(lg);
            padding: func.px_to_rem(18px);
        }

        @include mixn.respond-to('desktop') {
            font-size: func.size(3xl);
            padding: func.px_to_rem(12px);
        }
    }

    &__content {
        @include mixn.size(100%, func.px_to_rem(628px));
        background-color: func.color('gray-light');
        @include mixn.respond-to('tablet') {
            @include mixn.size(100%, func.px_to_rem(760px));
            @include mixn.flex(column, center, baseline, nowrap);
        }
        @include mixn.respond-to('desktop') {
            flex-direction: row;
            @include mixn.size(100%, func.px_to_rem(508px));
        }
    }

    &__article {
        @include mixn.flex(row, center, space-between, nowrap);
        @include mixn.size(func.px_to_rem(380px), func.px_to_rem(295px));
        margin: 1.7rem 1.55rem;
        background-color: func.color('white');
        border-radius: func.px_to_rem(10px);
        gap: func.px_to_rem(10px);

        @include mixn.respond-to('tablet') {
            @include mixn.size(func.px_to_rem(580px), func.px_to_rem(266px));
            margin-top: 3.8rem;
        }

        @include mixn.respond-to('desktop') {
            @include mixn.size(func.px_to_rem(580px), func.px_to_rem(278px));
            margin-top: 1rem;
            padding: 0.5rem 0.7rem;
        }

        &__left {
            @include mixn.flex(column, flex-start, baseline, nowrap);
            flex: 1;
            @include mixn.size(100%, func.px_to_rem(254px));

            @include mixn.respond-to('desktop') {
                gap: func.px_to_rem(2px);
            }
        }

        &__right {
            @include mixn.flex(column, flex-start, baseline, nowrap);
        }

        h1 {
            color: func.color('yellow');
            font-size: func.size(xs);
            letter-spacing: 0%;

            @include mixn.respond-to('desktop') {
                font-size: func.size(3xl);
            }
        }
        h2 {
            font-size: func.size('sm');
        }

        p {
            @include mixn.size(func.px_to_rem(148px), auto);

            font-size: func.size(2xs);

            @include mixn.respond-to('tablet') {
                font-size: func.size(xs);
                @include mixn.size(func.px_to_rem(318px), auto);
            }
            @include mixn.respond-to('desktop') {
                margin-top: 0.4rem;
            }
        }

        &__icons {
            @include mixn.flex(row, flex-start, baseline, nowrap);
            display: flex;
            @include mixn.size(100%, auto);
            gap: func.px_to_rem(27px);
            padding: func.px_to_rem(10px);

            @include mixn.respond-to('tablet') {
                margin-top: 3.8rem;
                padding: 0;
            }

            @include mixn.respond-to('desktop') {
                margin-top: 1.7rem;
                padding: 0;
            }
        }
    }
}
