@use '../abstracts/functions' as func;
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixn;

.latest-releases,
.best-sellers {
    margin-top: func.px_to_rem(8px);
    @include mixn.respond-to('tablet') {
        display: flex;
        flex-direction: column;
        margin: func.px_to_rem(28px) 0 func.px_to_rem(40px) 0;
        align-items: center;
    }
    @include mixn.respond-to('desktop') {
        margin: func.px_to_rem(30px) 0 func.px_to_rem(57px) 0;
    }

    &__heading {
        background-color: func.color('white');
        color: func.color('yellow');
        font-size: func.size('sm');
        width: 100%;
        text-align: center;
        padding: func.px_to_rem(10px);

        @include mixn.respond-to('tablet') {
            font-size: func.size(lg);
            padding: func.px_to_rem(18px);
        }

        @include mixn.respond-to('desktop') {
            font-size: func.size(3xl);
            padding: func.px_to_rem(12px);
        }
    }

    &__content {
        width: 100%;
        background-color: func.color('gray-light');
        height: func.px_to_rem(628px);
        @include mixn.respond-to('tablet') {
            height: func.px_to_rem(760px);
            display: flex;
            flex-direction: column;
        }
        @include mixn.respond-to('desktop') {
            flex-direction: row;
            height: func.px_to_rem(508px);
        }
    }

    &__article {
        display: flex;
        margin: 1.7rem 1.55rem;
        background-color: func.color('white');
        border-radius: func.px_to_rem(10px);
        width: func.px_to_rem(380px);
        height: func.px_to_rem(295px);
        justify-content: space-between;
        gap: func.px_to_rem(10px);

        @include mixn.respond-to('tablet') {
            width: func.px_to_rem(580px);
            height: func.px_to_rem(266px);
            margin-top: 3.8rem;
        }

        @include mixn.respond-to('desktop') {
            height: func.px_to_rem(278px);
            margin-top: 1rem;
            padding: 0.5rem 0.7rem;
        }

        &__left {
            display: flex;
            flex-direction: column;
            flex: 1;
            width: 100%;
            height: func.px_to_rem(254px);

            @include mixn.respond-to('desktop') {
                gap: func.px_to_rem(2px);
            }
        }

        &__right {
            display: flex;
            flex-direction: column;

            @include mixn.respond-to('desktop') {
                gap: 2.4rem;
                margin: 1.1rem 0.2rem 0 0;
            }
        }

        h1 {
            color: func.color('yellow');
            font-size: func.size(xs);
            letter-spacing: 0%;

            @include mixn.respond-to('desktop') {
                font-size: func.size(3xl);
            }
        }
        h2 {
            font-size: func.size('sm');
        }

        p {
            width: func.px_to_rem(148px);
            font-size: func.size(2xs);

            @include mixn.respond-to('tablet') {
                font-size: func.size(xs);
                width: func.px_to_rem(318px);
            }

            @include mixn.respond-to('desktop') {
                margin-top: 0.4rem;
            }
        }

        &__icons {
            display: flex;
            width: 100%;
            gap: func.px_to_rem(27px);
            padding: func.px_to_rem(10px);

            @include mixn.respond-to('tablet') {
                margin-top: 3.8rem;
                padding: 0;
            }

            @include mixn.respond-to('desktop') {
                margin-top: 1.7rem;
                padding: 0;
            }
        }
    }
}
