@use '../abstracts/functions' as func;
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixn;
@use '../abstracts/placeholders';

.footer {
    @include mixn.size(auto, func.px_to_rem(65px));
    padding: 1rem 1.5rem;
    font-size: func.size(2xs);
    @include mixn.respond-to('tablet') {
        @include mixn.size(auto, auto);
        @include mixn.flex(row, normal, normal, nowrap);
        gap: 6.8rem;
        padding: 3.2rem 0 4.2rem 1.5rem;
    }
    @include mixn.respond-to('desktop') {
        gap: 7.8rem;
        padding: 3.2rem 0 4rem 12.9rem;
    }

    &__heading {
        @include mixn.respond-to('tablet') {
            font-size: func.size(rg);
        }
    }
    &__subheading {
        color: func.color('gray-dark');
        padding: 0 0 0.8rem 0;
    }

    &__content {
        display: none;
        color: func.color('gray-darker');
        @include mixn.respond-to('tablet') {
            @include mixn.flex(row, normal, normal, nowrap);
            gap: 5.2rem;
        }
        @include mixn.respond-to('desktop') {
            gap: 12.5rem;
        }
    }
    &__column {
        @include mixn.flex(column, normal, normal, nowrap);
        gap: 0.4rem;

        @include mixn.respond-to('desktop') {
            border-left: 1px solid;
            padding: 0 0 0 1.5rem;
        }
    }

    &__link {
        @include mixn.flex(row, center, normal, nowrap);
        max-width: 20rem;
        gap: 0.4rem;
        padding: 0.4rem;
        &:hover {
            background-color: func.color('gray-light');
            @include mixn.transition(
                transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94),
                background-color 0.25s ease
            );
        }
    }

    &__link-title {
        @include mixn.overflow(1);
    }
}
