@use '../abstracts/functions' as func;
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixn;

.latest-releases {
    background-color: func.color('gray-light');
    height: func.px_to_rem(655px);
    margin-top: func.px_to_rem(8px);

    @include mixn.respond-to('tablet') {
        display: flex;
        flex-direction: column;
        height: func.px_to_rem(840px);
        margin-top: func.px_to_rem(30px);
        align-items: center;
    }

    @include mixn.respond-to('desktop') {
        height: auto;
    }

    &__heading {
        background-color: func.color('white');
        color: func.color('yellow');
        font-size: func.size('sm');
        width: 100%;
        text-align: center;
        padding: func.px_to_rem(10px);

        @include mixn.respond-to('tablet') {
            font-size: func.size(lg);
            padding: func.px_to_rem(18px);
        }

        @include mixn.respond-to('desktop') {
            font-size: func.size(3xl);
            padding: func.px_to_rem(12px);
            padding-right: 8rem;
        }
    }

    &__content {
        @include mixn.respond-to('tablet') {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mixn.respond-to('desktop') {
                flex-direction: row;
                height: func.px_to_rem(508px);
                margin-left: 1.1rem;
                gap: 1.1rem;
            }
        }
    }

    &__article {
        display: flex;
        margin: 1.2rem 1.55rem;
        background-color: func.color('white');
        border-radius: func.px_to_rem(10px);
        padding: 0.9rem 0.8rem;
        width: func.px_to_rem(380px);
        height: func.px_to_rem(295px);
        justify-content: space-between;
        gap: func.px_to_rem(10px);

        @include mixn.respond-to('tablet') {
            width: func.px_to_rem(588px);
            height: func.px_to_rem(266px);
            margin-top: 3.8rem;
        }

        @include mixn.respond-to('desktop') {
            height: func.px_to_rem(278px);
            margin-top: 1rem;
            padding: 0.5rem 0.7rem;
        }

        &__left {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: func.px_to_rem(254px);
            gap: func.px_to_rem(7px);
            padding: 0 0.4rem;

            @include mixn.respond-to('tablet') {
                padding: 0.5rem 0.1rem;
            }

            @include mixn.respond-to('desktop') {
                gap: func.px_to_rem(2px);
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            margin: func.px_to_rem(5px);
            gap: 2.1rem;

            @include mixn.respond-to('tablet') {
                align-items: end;
                gap: 1.5rem;
            }

            @include mixn.respond-to('desktop') {
                justify-content: space-between;
                margin: func.px_to_rem(15px) func.px_to_rem(15px)
                    func.px_to_rem(8px) func.px_to_rem(10px);
            }
        }

        h1 {
            font-size: func.size('sm');
        }

        h2 {
            color: func.color('yellow');
            font-size: func.size(xs);
            letter-spacing: 0%;

            @include mixn.respond-to('desktop') {
                font-size: func.size(3xl);
            }
        }

        p {
            width: func.px_to_rem(148px);
            font-size: func.size(2xs);

            @include mixn.respond-to('tablet') {
                font-size: func.size(xs);
                width: func.px_to_rem(318px);
            }

            @include mixn.respond-to('tablet') {
                margin-top: 0.4rem;
            }
        }

        img {
            width: func.px_to_rem(162px);
            height: func.px_to_rem(168px);

            @include mixn.respond-to('tablet') {
                width: func.px_to_rem(146px);
                height: func.px_to_rem(152px);
            }
        }

        &__icons {
            display: flex;
            width: 100%;
            gap: func.px_to_rem(27px);
            padding: func.px_to_rem(10px);

            @include mixn.respond-to('tablet') {
                margin-top: 4rem;
                padding: 0;
            }

            @include mixn.respond-to('desktop') {
                margin-top: 1.7rem;
                padding: 0;
            }
        }

        button {
            background-color: func.color('yellow');
            width: func.px_to_rem(161px);
            height: func.px_to_rem(48px);
            color: func.color('white');

            @include mixn.respond-to('tablet') {
                width: func.px_to_rem(146px);
            }
        }
    }
}
