@use 'variables' as vars;
@use 'sass:math';
@use 'sass:map';

@function px_to_rem($pixels) {
    $unitless: if(math.is-unitless($pixels), $pixels, math.div($pixels, 1px));
    @return math.div($unitless, 16) * 1rem;
}

@function size($key) {
    @return px_to_rem(map.get(vars.$sizes, $key));
}

@function color($key) {
    @return map.get(vars.$colors, $key);
}

@function breakpoint($key) {
    @return map.get(vars.$breakpoints, $key);
}

@each $name, $value in vars.$sizes {
    .text--#{$name} {
        font-size: px_to_rem($value);
    }
}
@each $name, $value in vars.$weights {
    .text--#{$name} {
        font-weight: $value;
    }
}
