@use 'variables' as vars;
@use 'sass:map';

@mixin flex-center($direction: row) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin respond-to($breakpoint) {
    @if map.has-key(vars.$breakpoints, $breakpoint) {
        @media (min-width: map.get(vars.$breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "Unknown breakpoint: #{$breakpoint}.";
    }
}
