@use 'variables' as vars;
@use 'sass:map';

@mixin flex($direction: row, $align: center, $justify: center, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
}

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin transition($property: all, $duration: 0.2s, $easing: ease-in-out) {
    transition: $property $duration $easing;
}

@mixin respond-to($breakpoint) {
    @if map.has-key(vars.$breakpoints, $breakpoint) {
        @media (min-width: map.get(vars.$breakpoints, $breakpoint)) {
            @content;
        }
    } @else {
        @warn "Unknown breakpoint: #{$breakpoint}.";
    }
}
