@use '../abstracts/functions' as func;

%full-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

%bg-blue {
    color: func.color('white');
    background-color: func.color('primary');
}
