@use '../abstracts/functions' as func;

%full-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

%bg-blue {
    color: func.color('white');
    background-color: func.color('primary');
}

%overflow-limit-to-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
